.helper {
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
}

thead th {
    padding-bottom: 5px;
    text-align: left;
}

th:nth-child(2), td:nth-child(2) {
    padding-left: 10px;
}

#days tr.current {
    color: green;
}


